body { 
    background-image: url("../img/xp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    font-size: 150;
    color: rgb(231, 228, 228);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: lightgray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    
    color: silver;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}
a {
    text-align: center;
}
.link{
    
    text-align: center;
    color: greenyellow;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
nav {
    background: linear-gradient(90deg, rgba(14,14,147,1) 0%, rgba(0,212,255,1) 100%);
    font-family: 'Courier New', Courier, monospace;
}

.nav, ul {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.nav, li {
    display: inline-block;
    padding: 10px;
}

.nav, .li, a {
    color: black;
    text-decoration: none;
    
}

.nav, li.current {
    background-color: rgba(255,255,255,0.1);
}

.nav, li:hover {
    background-color: rgba(255,255,255,0.2);
}
.table1{
    position: absolute;
    background-color: yellow;   
    height:40px;
    margin-top: 2%;
    
}

.table1:hover{
    background-color: whitesmoke;
    border: 4px solid black;
    cursor: help 
}


.table2{
    position: absolute;
    background-color: red;
    height:40px;
    margin-top: 5%;
}

.table2:hover{
    
    background-color: white;
    padding: 1px;
    border: 4px solid black;
    cursor: help 
}

.table3{
    position: absolute;
    background-color:green;
    height:40px;
    margin-top: 8%;
}

.table3:hover{
    position: center;
    background-color: whitesmoke;
    padding: 1px;
    border: 4px solid black;
    cursor: help 
}
.opdrachtD { 
    background: rgba(130,130,130,0.5);
    padding: 20px;
}

svg.cross { 
    background: silver; 
    margin: 50px auto; 
    display: block; 
}
svg.cross path { 
    fill: gold; 
    stroke: red; 
    stroke-width: 0.1; 
    stroke-linejoin: round; 
}

    
.rainbow {
    font-size: 30px;
    -webkit-animation:rainbow 1s infinite;
    -ms-animation:rainbow 1s infinite;
    -o-animation:rainbow 1s infinite;
    animation:rainbow 1s infinite;
    }
    @-webkit-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }
    @-ms-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }
    @-o-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }
    @keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }

    footer {
        text-align: center;
        padding: 0px;
        background-color: white;
        color: black;
        margin: 200px 0px 0px 0px;
      }